<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action='{% url "edit_robot" robot_id=robot.id %}' method="post">
    {% csrf_token %}
    <input name="name" placeholder="name" type="text" value="{{ robot.name }}"><br><br>
    <input name="description" placeholder="description" type="text" value="{{ robot.description }}"><br><br>
    <button>Подтвердить редактирование</button><br><br><br><br>

</form>
<form action='{% url "delete_robot" robot_id=robot.id %}' method="post">
    {% csrf_token %}

    <button>Удалить робота</button>

</form>


</body>
</html>