<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
<form action="/add_shop" method="post">
    {% csrf_token %}
    <input name="name" placeholder="name" type="text"><br><br>
    <select name="robots" multiple>
        {% for robot in robots %}
        <option value="{{ robot.id }}">{{ robot.name }}</option>
{% endfor %}

    </select><br><br>

    <button>Создать</button><br><br>
</form>
{% for shop in shops %}
    <a href="{% url 'shop_info' shop_id=shop.id %}">{{ shop.id }}. {{ shop.name }}</a>


{% endfor %}

</body>
</html>